$button-pink: #AF2BBF;

.title{
    text-align: center;
    color: $button-pink;
}

.cards{
    &::-webkit-scrollbar-thumb{
        background-color: $button-pink;
    }
    .artists{
        .head{
            background-color: $button-pink;
            color: white;
        }
        .info{
            padding-top: 30px;
        }
    }
}