<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Spotify API Project</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to My Spotify API Project</h1>
    </header>
    <main>
        <p>This is a basic welcome page for the Spotify API Project.</p>
        <form action="{% url 'api:request-auth' %}" method="get">
            <button type="submit">Send GET Request</button>
        </form>
    </main>
    <footer>
        <p>2025 My Spotify API Project</p>
    </footer>
</body>
</html>