{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Artists</title>
    <link rel="stylesheet" href="{% static 'css/toplist.css '%}">
    <link href="https://fonts.googleapis.com/css2?family=Alexandria&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="navbar">
            <p>
                <span class="logo1">Spotify</span>
                <span class="logo2">Stats</span>
            </p>
        </div>
        <span class="title"><p>Your top artists past 6 months</p></span>
        <div class="cards">
            {% for artist in artists %}
            <a href="{{artist.uri}}">
                <div class="artists">
                    <div class="head">
                        <div class="number">{{ forloop.counter }}</div>
                        <div class="artist-name">{{ artist.name }}</div>
                    </div>
                    <div class="info">
                        <span class=artist-image><img src="{{ artist.images.0.url }}" alt="{{ artist.name }}"></span>
                        <div class="data">
                            <p>Genre: 
                                {{artist.genres.0}}
                            </p>
                            <p>Followers: {{ artist.followers.total }}</p>
                            <p>Popularity: {{ artist.popularity }}</p> 
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </main>
</body>
</html>